.home {
  &-quiz {
    &__introduction {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
        }
      }
      p{
        font-size:20px;
      }

    }
    &__setting {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
        }
      }
      .btn-group-lg>.btn, .btn-lg {
        margin-top:50px;
      }
      label{
        font-size:20px;
      }
      .allbtn{
        font-size:20px;
      }
    }
    

    &__ranking {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
        }
      }
    .bar-chart{
        width:1000px;
        height:1000px;
      }
    }
  }

  &__notice {
    padding: 5px 10px;

    &-h2 {
      border-bottom: solid;

      &-logo {
        width: 10%;
      }
    }
  }
}

.serif {
  display: none;
}

.btn .active {
  color: red;
}

button {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.text {
  padding: 0;
}

.text .active {
  display: block;
}