.home {
  &-quiz {
    &__introduction {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
        }
      }
      p{
        font-size:20px;
      }

    }
    &__setting {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
        }
      }
      .btn-group-lg>.btn, .btn-lg {
        margin-top:50px;
      }
      label{
        font-size:20px;
      }
      .allbtn{
        font-size:20px;
      }
    }
    

    &__ranking {
      padding: 5px 10px;

      &-h2 {
        border-bottom: solid;

        &-logo {
          width: 10%;
        }
      }
    .bar-chart{
        width:1000px;
        height:1000px;
      }
    }
  }

  &__notice {
    padding: 5px 10px;

    &-h2 {
      border-bottom: solid;

      &-logo {
        width: 10%;
      }
    }
  }
}

.bounce-enter-active {
  animation: bounce-in 1s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}