header {
  margin-top: -10px;
  h1 {
    font-size: 30px;
    margin-top: 50px; 
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(217, 255, 0, 0.712);
  }

  #sitetitle{
    font-size: 100px;
    font-family:cursive;
  }

  .navbar {
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    &-nav__logo {
      width: 200px;
      margin-top: -15px;
    }
  }

  #header {
    &-nav {
      &__home {
        @include headerbtn;
      }
      &__login {
        @include headerbtn;
        margin-right:30px;
      }

      &__register {
        @include headerbtn;
      }

      &__name {
        @include headerbtn;
        margin-right:30px;
      }
      &__mypage {
        font-size:30px;
        margin-bottom:5px;
        color:blue;
      }

      &__logout {
        font-size:30px;
        color:red;
      }
    }
  }
}

.v-leave-active,
.v-enter-active {
  transition: opacity 5s;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}