header {
  margin-top: -10px;
  h1 {
    font-size: 30px;
    margin: 20px; 
  }

  #sitetitle{
    font-size: 100px;
    font-family:cursive;
  }

  .navbar-brand {
    color: $white;
  }

  .navbar {
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    &-nav__logo {
      width: 200px;
      margin-top: -15px;
    }
    &-nav__drop-down {
      background: $thin-green;
    }
  }

  #header {
    &-nav {
      &__home {
        @include headerbtn;
      }
      &__login {
        @include headerbtn;
        margin-right:30px;
      }

      &__register {
        @include headerbtn;
      }

      &__name {
        @include headerbtn;
        margin-right:30px;
      }

      &__mypage {
        @include headerbtn;
      }

      &__logout {
        @include headerbtn;
      }
    }
  }
}