header {
  margin-top: -10px;
  background: $white;

  h1 {
    font-size: 20px;
    margin: 20px;
  }

  .navbar-brand {
    color: $white;
  }

  .navbar {
    background: $thin-green;
    border-color: $thin-green;
  }

  .header {
    &-nav__logo {
      width: 200px;
      margin-top: -15px;
    }
    &-nav__drop-down {
      background: $thin-green;
    }
  }

  #header {
    &-nav {
      &__home {
        color: $white;
        font-size: 25px;
      }

      &__login {
        color: $white;
        font-size: 25px;
      }

      &__register {
        color: $white;
        font-size: 25px;
      }

      &__name {
        color: $white;
      }

      &__mypage {
        color: $white;
        margin: auto;
      }

      &__logout {
        color: $white;
        margin: auto;
      }
    }
  }
}