@font-face {
  font-family: "NasuM-Regular";
  src: url(../../fonts/NasuM-Regular.ttf);
}

body {
  font-family: NasuM-Regular, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/images/background.png");
  background-size:cover;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;   
   
}

main {
  margin-top: -22px;
  padding-top: 20px;
  padding-bottom: 50px;
  min-height: 1000px; 
}

article {
  background: $white;
  width: 60%;
}

@media (min-width: 992px) {
  .col-md-8 {
    width: 100%;
  }

  .col-md-4 {
    width: 37%;
  }
}